        <footer class="pt-4 my-md-5 pt-md-5 border-top">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-3">
                        <h3 class="display-2">Vc </h3><small class="d-block mb-3 text-muted">© 2019-2019</small>
                    </div>
                    <div class="col-12 col-md-3">
                        <h5>CALCULADORAS</h5>
                        <ul class="list-unstyled text-small">
                            <li><a href="#">Calculadora de salários</a></li>
                            <li><a href="#">Calculadora de findability</a></li>
                            <li><a href="#">Quanto custa contratar errado?</a></li>
                        </ul>
                    </div>
                    <div class="col-12 col-md-3">
                        <h5>CANAIS</h5>
                        <ul class="list-unstyled text-small">
                            <li><a href="#">LinkedIn</a></li>
                            <li><a href="#">Facebook</a></li>
                            <li><a href="#">Twitter</a></li>
                        </ul>
                    </div>
                    <div class="col-12 col-md-3">
                        <h5>MATERIAIS</h5>
                        <ul class="list-unstyled text-small">
                            <li><a href="#">Planilha de R&S</a></li>
                            <li><a href="#">eBook de orçamento de R&S</a></li>
                            <li><a href="#">Guia completo para contratar</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>