 <!--Menu-->
    <nav class="navbar navbar-expand-lg fixed-top bg-light navbar-light">
        <div class="container">
            <a href="#" class="navbar-brand">
            </a>
            <div>
                <a href="#" class="navbar-brand"></a>
                <a draggable="false" data-highlightable="1" href="#" class="navbar-brand gjs-comp-selected c5779">
                    <div class="c5796">Vamos Crescer</div>
                </a>
            </div><button type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>
            <div id="navbarResponsive" class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a href="index.html" class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="sobre.html" class="nav-link">Sobre</a></li>
                    <li class="nav-item"><a href="calculadora.html" class="nav-link">Calculadora</a></li>
                    <li class="nav-item"><a href="login.html" class="nav-link">Entrar</a></li>
                </ul>
            </div>
        </div>
    </nav>