<div class="container-fluid mt-5 mb-5">
        <section class="pt-5">
            {{!-- <img src="./images/fundo_home.png" alt="" class="img-fluid borda-especial d-block mb-5 mx-auto" /> --}}
            <div class="container text-center">
                <h1 class="display-4">Calculadora de salários
                    <br>de desenvolvedores
                </h1>
                <p class="lead">Tenha uma base para conduzir o seu processo seletivo com valores compatíveis com o mercado de desenvolvimento.
                </p>
                <p></p>
                <div class="signup-newsletter">
                    <div class="input-group mb-3 mx-auto mt-4"><input type="email" placeholder="Endereço de E-mail" aria-label="Email" aria-describedby="basic-addon2" class="form-control form-control-lg" />
                        <div class="input-group-append"><button type="button" class="btn btn-base-primary btn-lg">Signup</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <section class="bg-light mt-5 py-5">
        <section class="testimonial bg-light p-5">
            <div class="container">
                <h2 class="text-center">O que as pessoas estão dizendo?</h2>
                <div data-section-id="1" data-component-id="5_04_awz" data-category="testimonials" class="py-5">
                    <div class="container">
                        <div class="row">
                            <div data-config-id="testimonials_11" class="col-md-8 col-lg-6 mx-auto">
                                <div class="row mb-5">
                                    <div class="col-md-3 col-12 text-center"><img src="./images/depoimento1.jpg" height="80" alt="" /></div>
                                    <div class="col-md-9 col-12 text-muted pt-1">
                                        <p class="mb-3">"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                                            it to make a type specimen book" </p>
                                        <h6>Hugo Vinicius, <small>Desenvolvedor, OKTZ</small></h6>
                                    </div>
                                </div>
                                <div class="row mb-5">
                                    <div class="col-md-3 col-12 text-center"><img src="./images/depoimento2.jpg" height="80" alt="" /></div>
                                    <div class="col-md-9 col-12 text-muted pt-1">
                                        <p class="mb-3">“Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                                            it to make a type specimen book” </p>
                                        <h6>Carlos Eduardo, <small>CTO, BrasilConsult</small></h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 col-12 text-center"><img src="./images/depoimento3.jpg" height="80" alt="" /></div>
                                    <div class="col-md-9 col-12 text-muted pt-1">
                                        <p class="mb-3">“Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                                            it to make a type specimen book” </p>
                                        <h6>Claudio Alberto, <small data-highlightable="1">Engenheiro de Software, WorkDev</small></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {{> footer }}
    </section>