<div class="container-fluid mt-5 mb-5">
    <section class="pt-5">
        <div class="container text-center">
            <h1 class="display-4">Let's Growth (Vamos Crescer)</h1>
        </div>
        <div >
            <section class="pt-5">                
                <div class="container text-center">
                    <p class="lead">PIA - Projetos Integrados de Aplicações</p>
                    <p>
                        <ul class="lista-padrao">
                            <li><strong>Aluno:</strong> Hugo Vinicius Reis Vaz</li>
                            <li><strong>Público Alvo:</strong> Devs e Empresas</li>
                            <li><strong>Problema:</strong> Calcular uma média salarial para desenvolvedores, baseado em dados de mercado</li>
                            <li><strong>Objetivo:</strong> Contribuir com a comunidade e valorização dos profissionais de tecnologia</li>                            
                            <li><strong>Requisitos:</strong> Queremos melhorar a performance dessa calculadora: https://vulpi.com.br/calculadora-de-salarios/ 
                              para transformá-la em uma estratégia de crescimento. Precisamos de melhorias no front-end, 
                              bem como acesso facilitado para alterarmos os números que dão base à calculadora.</li>                                                        
                        </ul>                   
                    </p>                    
                </div>
            </section>
        </div>
    </section>
</div>
<section class="bg-light mt-5 py-5">
    {{> footer}}
</section>